<a class="titre_timeline" href="">Formations</a>
<div>
    {% for activite in activites %}
    {% set position = activite.place %}
    {% if position == true %}
    <div class="encart_right">
        {% else %}
        <div class="encart_left">
            {% endif %}
            {% if activite.idFormation is null %}

            {% else %}
                <h3>{{ activite.idFormation.titre }}</h3>
                <br>
            {% endif %}
            {% if activite.idFormation  is null %}

            {% else %}
                <h4>{{ activite.idFormation.ecole }}
                    <i class="fa fa-circle" style="color: #aa1111"></i>
                    {{ activite.dateDebut|date('Y') }}
                </h4>
                <br>
                <p>{{ activite.resume }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<br>
