{% extends 'base.html.twig' %}

{% block title 'Portfolio' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores autem consequuntur ducimus,
            fugiat minus nemo nihil quos rem, sed sequi unde veritatis! Aspernatur at ex necessitatibus quia
            repellendus saepe?</p>


    </div>

{% endblock %}
