{% extends 'base.html.twig' %}

{% block title 'Portfolio' %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>My resume</h2>
            <span class="separateur"></span>
        </div>
        <hr class="separation">
        <div class="timeline-category">
            {{ include('pages/experience.html.twig') }}
        </div>
        <div class="timeline-category">
            {{ include('pages/formation.html.twig') }}
        </div>
    </div>
{% endblock %}
