{% extends 'base.html.twig' %}

{% block title 'Portfolio' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores autem consequuntur ducimus,
            fugiat minus nemo nihil quos rem, sed sequi unde veritatis! Aspernatur at ex necessitatibus quia
            repellendus saepe?</p>
    </div>
    <div class="container">
        <h2>Experiences</h2>
        <div>
            {% for activite in activites %}
                <li class="list-group">
                    {% if activite.idExperience is null %}
                        Non renseigné
                    {% else %}
                        {{ activite.idExperience.poste }}
                    {% endif %}
                    =>
                    {% if activite.idExperience  is null %}
                        Non renseigné
                    {% else %}
                        {{ activite.idExperience.entreprise }}
                    {% endif %}
                </li>
            {% endfor %}
        </div>
        <h2>Formations</h2>
        <div>
            {% for activite in activites %}
                <li class="list-group">
                    {% if activite.idExperience is null %}
                        Non renseigné
                    {% else %}
                        {{ activite.idFormation.ecole }}
                    {% endif %}
                    =>
                    {% if activite.idExperience  is null %}
                        Non renseigné
                    {% else %}
                        {{ activite.idFormation.titre }}
                    {% endif %}
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
