{% extends 'base.html.twig' %}

{% block title 'Administrer' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gestion</h1>

        <p>Entreprise : {{ idExpe[0].entreprise }}</p>
    </div>
{#    {{ dump(idExpe[0].entreprise) }}#}
{% endblock %}
