body {
    background-color: #f0f2f7;
}

h2{
    text-transform: uppercase;
    color: #2c3d4f;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 60px;
    font-size: 60px;
    margin-top: 20px;
}

h4 {
    color: #2c3e50;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

h3 {
    color: #2c3e50;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

p{
    color: #7d878f;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 28px;
}
a {
    text-decoration: none;
}
a:hover {
    color: #C8321B;
    text-decoration: none;
}

.separation {
    clear: both;
    position: absolute;
    margin: 0px 0px 0px 552px;
    height: 130%;
    width: 3px;
    background: #dbdde5;
    z-index: -1;
    border: none;
}

.separateur{
    display: block;
    margin: 40px auto;
    width: 60px;
    height: 2px;
    background-color: #F54F36;
}

.titre_timeline{
    display: inline-block;
    color: #2c3d4f;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #dbdde5;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 16px;
}

.timeline-category{
    text-align: center;
}

.iconspace {
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 20px auto;
    border-radius: 50%;
    background-color: #e74b3b;
    z-index: 7;
}

.iconspacefor {
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 20px auto;
    border-radius: 50%;
    background-color: #1abb9b;
    z-index: 7;
}

.iconspace i {
    font-size: 18px;
    color: #fff;
    line-height: 40px;
}

.iconspacefor i {
    font-size: 18px;
    color: #fff;
    line-height: 40px;
}

.iconspace_end {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #cbcfdb;
    color: #5f7183;
    text-align: center;
    border-radius: 50%;
    z-index: 7;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
    left: 48.2%
}

.rond{
    color: #aa1111;
    font-size: 5px;
    margin: 3px;
}

.encart_right{
    text-align: left;
    width: 45%;
    margin: -110px 0px 0px 578px;
    padding: 10px;
}

.encart_right:hover {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.encart_right:hover:before {
    right: 100%;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 13px;
    margin-top: 13px;
}

.encart_post_icon {
    position: absolute;
    background-color: #ccd0db;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: -7px;
    z-index: 6;
    margin: 23px 0px 0px -42px;
}

.encart_right:hover .encart_post_icon {
    position: absolute;
    background-color: #e74b3b;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: -7px;
    z-index: 6;
    margin: 23px 0px 0px -42px;
}

.encart_left{
    text-align: right;
    width: 45%;
    margin: -10px 0px 0px 30px;
    padding: 10px;
}

.encart_left:hover {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.encart_left:hover:before {
    left: 100%;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 13px;
}

.encart_post_icon-left{
    position: absolute;
    background-color: #ccd0db;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: -7px;
    z-index: 50;
    margin: 20px 50px 50px 506px;
}

.encart_left:hover .encart_post_icon-left{
    position: absolute;
    background-color: #e74b3b;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: -7px;
    z-index: 50;
    margin: 20px 50px 50px 506px;
}

.hidden{
    visibility: hidden;
    line-height: 0;
}

.hidden:hover{
    visibility: hidden;
}
